relayhost = [{{postfix_dumb_relay_host}}]:{{postfix_dumb_relay_port}}
smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
smtp_sasl_security_options =
smtp_use_tls=yes
{% if postfix_dumb_only_local_accounts %}header_checks = regexp:/etc/postfix/header_checks{% endif %}

myhostname={% if postfix_dumb_hostname is defined%}{{ postfix_dumb_hostname }}{% else %}{{ inventory_hostname }}{% endif %}

inet_interfaces=loopback-only
